---
layout: null
---
    #k-toc-card {
	font-size: 3px;
    	margin-top: 50px;
    }

    .mdui-m-t-5 {
	height: 100px;

    }

    .dataframe {
	  border-collapse: collapse;
	  width: 100%;
	  overflow: scroll;
    }

    .dataframe th, td {
	  text-align: left;
	  padding: 8px;
    }

    .dataframe tr:nth-child(even)  {
          background-color: #f2f2f2;
    }
    }
